sin x $Maths
cos x $Maths
tan x $Maths
+ x y $Core
* x y $Core
- x y $Core
/ x y $Core
min x y $Maths
max x y $Maths
abs x $Maths
neg x $Maths
copysign x y $Maths
ftz x $Maths
inv x $Maths
cbrt x $Maths
hypot x y $Maths
ldexp x y $Maths
scalb x y $Maths
log1p x $Maths
logb x $Maths
ilogb x $Maths
log2 x $Maths
expm1 x $Maths
acosh x $Maths
asinh x $Maths
atanh x $Maths
sinh x $Maths
cosh x $Maths
tanh x $Maths
erf x $Maths
erfc x $Maths
gamma x $Maths
lgamma x $Maths
J0 x $Maths
J1 x $Maths
Jn x $Maths
Y0 x $Maths
Y1 x $Maths
Yn x $Maths
np2 x $Maths
frac x $Maths
modulo x $Maths
isnan x $Maths
isinf x $Maths
chebychev x $Maths
chebychevpoly x $Maths
diffn x $Maths
signum x $Maths
nextpow2 x $Maths
zc x $Maths