sin x $Math
cos x $Math
tan x $Math
+ x y $Math
* x y $Math
- x y $Math
/ x y $Math
min x y $Math
max x y $Math
abs x $Math
neg x $Math
copysign x y $Math
ftz x $Math
inv x $Math
cbrt x $Math
hypot x y $Math
ldexp x y $Math
scalb x y $Math
log1p x $Math
logb x $Math
ilogb x $Math
log2 x $Math
expm1 x $Math
acosh x $Math
asinh x $Math
atanh x $Math
sinh x $Math
cosh x $Math
tanh x $Math
erf x $Math
erfc x $Math
gamma x $Math
lgamma x $Math
J0 x $Math
J1 x $Math
Jn x $Math
Y0 x $Math
Y1 x $Math
Yn x $Math
np2 x $Math
frac x $Math
modulo x $Math
isnan x $Math
isinf x $Math
chebychev x $Math
chebychevpoly x $Math
diffn x $Math
signum x $Math
nextpow2 x $Math
zc x $Math